<html>
<head>
<title>QnA | Signup</title>
</head>
<body>
<h2>Create Your Account</h2>
<form action="reg" method="post">
{% csrf_token %}
<input type="text" placeholder="Name" name="fname" required><br><br>
<input type="text" placeholder="Email" name="email" required><br><br>
<input type="text" placeholder="Username" name="user" required><br><br>
<input type="password" placeholder="Password" name="pass" required><br><br>
<input type="password" placeholder="Confirm Password" name="cpass" required><br><br>
<input type="submit" value="Create Account">
</form>
<font color="red">{{msg}}</font>
</body>
</html>